{% comment %}
  The contents of the page.design.liquid template can be found in /sections/page-design-template.liquid
{% endcomment %}

{% section 'design-banner' %}
<div class="design-container">
  {% section 'design-image-text-1'%}
  {% section 'design-image-text-2'%}
  {% section 'design-image-text-3'%}
  {% section 'design-image-text-4'%}
  {% section 'design-image-text-5'%}
</div>
