{% comment %}
  The contents of the page.stainless.liquid template can be found in /sections/page-stainless-template.liquid
{% endcomment %}

<div class="stainless-category-container">
  {% section 'stainless-workstations-text' %}
  {% section 'stainless-workstations-gallery' %}
</div>
