{% comment %}
  The contents of the page.supply.liquid template can be found in /sections/page-supply-template.liquid
{% endcomment %}

{% section 'supply-banner' %}
<div class="supply-container">

</div>
