<div class="container main content main-wrapper">
  <div class="twelve columns offset-by-two page clearfix">
    <h1 class="center">
      {{ page.title }}
    </h1>
    <div class="feature_divider"></div>
  </div>
</div>
{{ page.content }}
<div class="container content">