{% comment %}
  The contents of the page.stainless.liquid template can be found in /sections/page-stainless-template.liquid
{% endcomment %}

{% section 'stainless-banner' %}
<div class="stainless-container">
  {% section 'stainless-images' %}
</div>
